In [1]:
import cudf
df = cudf.read_parquet('./plotly_demo1_data.parquet/*')

/home/ajay/anaconda3/envs/rapids_dev_0.12/lib/python3.6/site-packages/cudf/utils/ioutils.py:921: UserWarning: `path_or_data` resolved to more than 1 file. Only the first file /home/ajay/new_dev/plotly/census_large/plotly_demo1_data.parquet/38a6c2886f574cba8dd1b9c1230ad8ce.parquet will be read.
  UserWarning,

In [2]:
from pyproj import Transformer, CRS
inProj = 'epsg:3857' # Latitude and longitudes
outProj = 'epsg:4326' # 2D projected points
transformer = Transformer.from_crs(inProj, outProj, always_xy=True)

In [3]:
df['x'], df['y'] = transformer.transform(df['x'].to_array(), df['y'].to_array())

In [7]:
df.x = df.x.astype('float32')

In [9]:
df.y = df.y.astype('float32')

In [11]:
df.reset_index(inplace=True)

In [13]:
df.drop_column('index')

In [14]:
df

                    x          y  sex
0          -86.481117  32.468773    0
1          -86.479324  32.469009    0
2          -86.477966  32.469349    0
3          -86.482056  32.469318    0
4          -86.481819  32.466709    0
...               ...        ...  ...
308745304 -104.197456  43.845558    1
308745305 -104.198425  43.845848    1
308745306 -104.199310  43.846298    1
308745307 -104.199265  43.846306    1
308745308 -104.197960  43.845566    1

[308745309 rows x 3 columns]

In [15]:
df.to_parquet('plotly_epsg4857.parquet')

/home/ajay/anaconda3/envs/rapids_dev_0.12/lib/python3.6/site-packages/cudf/io/parquet.py:70: UserWarning: Using CPU via PyArrow to write Parquet dataset, this will be GPU accelerated in the future
  "Using CPU via PyArrow to write Parquet dataset, this will "